:root{
  --body-bg: hsl(228deg 42% 95%);
  --bg-white :hsl(0deg 0% 100%);
  --text-secondary-color:hsl(214deg 17% 65%);
--root-gap : 8px;
--fw-500 : 500;
--purple : hsl(255, 95%, 68%);
--orange : #eb6f33;
--green :#03c895; 
--blue : hsl(197, 100%, 50%);
}

body{
  background-color: var(--body-bg);
  padding : 24px;
  font-family: "Roboto", sans-serif;
}
.summary-box-container , .profit-box-container, .overview-container{
  background: var(--bg-white);
 padding: 16px; 
}

.profit-box-container{
margin-top : 24px;
}

.summary-box-time-container{
  display: flex;
  justify-content: space-between;
}

.summary-box-text{
  color : hsl(218deg 18% 43%);
  margin : 0;
  font-size: 14px;
  margin-bottom: 4px;
  }
  .profit-box-sub-text{
    color : hsl(214deg 23% 26%);
    margin : 0;
    margin-bottom: 14px;
  }
  .profit-box-heading{
    font-weight: 500;
    margin : 0;
  }
  .summary-box-number, .profit-box-number{
    color : hsl(212deg 23% 26%);
    font-size : 30px;
    margin : 0;
    font-weight: 400;
    margin-bottom: 8px;
  }

.summary-box-time-container>p{
  color : var(--text-secondary-color);
margin : 6px 0px;
}
 .profit-box-time-container >p
 {
  color :var(--text-secondary-color);
 }
.summary-box-spec, .profit-box-time-container {
  display : flex;
  justify-content : space-between;
  
}
.percent-box-container{
  display: flex;
  flex-direction : column;
  gap : calc(2 * var(--root-gap)),
}

.summary-box-list{
  display : grid;
  grid-template-columns: 1fr;
  gap : calc(3 * var(--root-gap)); 
}
@media(min-width: 500px){
  .summary-box-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(min-width: 1200px){
  .summary-box-list {
    grid-template-columns: repeat(4,1fr);
  }
}


