body{
  background-color: hsl(228deg 42% 95%);
  padding : 24px;
  font-family: "Roboto", sans-serif;
}
.summary-box-container{
  background: hsl(0deg 0% 100%);
  width: 300px;
 padding: 16px; 
}
.summary-box-time-container{
  display: flex;
  justify-content: space-between;
}

.summary-box-text{
  color : hsl(218deg 18% 43%);
  margin : 0;
  font-size: 14px;
  margin-bottom: 4px;
  }
  .summary-box-number{
    color : hsl(212deg 23% 26%);
    font-size : 30px;
    margin : 0;
    font-weight: 400;
  }
.summary-box-time-container>p{
  color : hsl(214deg 17% 65%)
}
.summary-box-spec {
  display : flex;
  justify-content: space-between;
}
.summary-box-list{
  display : grid;
  grid-template-columns: 1fr;
  gap : 24px; 
}
@media(min-width: 500px){
  .summary-box-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(min-width: 1200px){
  .summary-box-list {
    grid-template-columns: repeat(4,1fr);
  }
}


